<section class="designed_linea">
  <div class="img-designed">
      <img src="../../assets/image/hombre.jpeg" class="designed_hombre">
      <img src="../../assets/image/mujer.jpeg" class="designed_mujer">
      <img src="../../assets/image/circulo1.png" class="designed_circulo1">
      <img src="../../assets/image/circulo2.png" class="designed_circulo2">
      <img src="../../assets/image/circulo3.png" class="designed_circulo3">

  </div>
  <div class="designed_contenido">
      <h4 class="designed_subtitulo"> Designed by you</h4>
      <h1 class="designed_titulo"> Individual style </h1>
      <p class="designed_texto"> Like a bespoke suit or couture dress, exceptional style starts with fit that was made just for you. We craft your glasses based to your distinct stylistic choices and your personal preferences, so you’re free to truly express yourself. </p>

  </div>
  <div class="texto-phone">
      <h4 class="h4-designed"> Designed by you</h4>
      <h1 class="h1-designed"> Individual style </h1>
      <p class="p-designed"> Like a bespoke suit or couture dress, exceptional style starts with fit that was made just for you. We craft your glasses based to your distinct stylistic choices and your personal preferences, so you’re free to truly express yourself. </p>
  </div>
  <div class="img-phone">
      <img src="../../assets/image/circulo1.png" class="circulo1">
      <img src="../../assets/image/circulo2.png" class="circulo2">
      <img src="../../assets/image/circulo3.png" class="circulo3">
  </div>
</section>
