<section class="caja_grande">
  <div class="div_grande">
      <div class="boxall">
          <h3 class="tarjetas_titulo">Find a location</h3>
          <i class="fa-solid fa-location-arrow fa-4x"></i>
          <div class="alinear2">
              <p class="tarjetas_texto alinear">Learn more</p>
              <i class="fa-solid fa-arrow-right alinear"></i>
          </div>
      </div>

      <div class="boxall">
          <h3 class="tarjetas_titulo">Browse our frame styles</h3>
          <i class="fa-solid fa-glasses fa-4x"></i>
          <div class="alinear2">
              <p class="tarjetas_texto alinear">Learn more</p>
              <i class="fa-solid fa-arrow-right alinear"></i>
          </div>
      </div>

      <div class="boxall">
          <h3 class="tarjetas_titulo">Explore our lens option</h3>
          <i class="fa-solid fa-magnifying-glass fa-4x"></i>
          <div class="alinear2">
          <p class="tarjetas_texto alinear">Learn more</p>
          <i class="fa-solid fa-arrow-right alinear"></i>
          </div>
      </div>
  </div>
</section>
