<section>
  <form action="" class="form-bigbox">
      <div  class="title-box">
          <h2 class="title-form">SEND US A MESSAGE</h2>
      </div>
      <div class="box-underbox">
          <div class="date-inputs">
              <div class="username">
                  <h3>your name</h3>
                  <label for="">
                      <i class="fa-solid fa-user"></i>
                      <input placeholder="  full name" minlength="6" type="text">
                  </label>
              </div>
              <div class="emailtext">
                  <h3>your email</h3>
                  <label for="">
                      <i class="fa-solid fa-envelope"></i>
                      <input placeholder="  email@example.com" minlength="6" type="email">
                  </label>
              </div>
              <div class="number-phone">
                  <h3>Number phone</h3>
                  <label for="">
                      <i class="fa-solid fa-square-phone"></i>
                      <input placeholder="  3xx-xxx-xxxx" type="text">
                  </label>
              </div>
              <div class="adress-form">
                  <h3>adress</h3>
                  <label for="">
                      <i class="fa-solid fa-location-dot"></i>
                      <input placeholder="  cll xx #x-x" type="text">
                  </label>
              </div>
              <div class="date-form">
                  <h3>date of birth</h3>
                  <label for="">
                      <i class="fa-regular fa-calendar-days"></i>
                      <input type="date">
                  </label>
              </div>
          </div>
          <div class="submit-form">
              <textarea placeholder="  put your message here" cols="30" rows="20" type="text" class="text-content"></textarea>
              <button type="reset" class="  button-send">SUBMIT</button>
          </div>
      </div>
  </form>
</section>
