<section class="heroe_girasol">
  <div class="texto_heroe">

      <div class="box_heroe">

          <div class="heroe_first">

              <h3>CUSTOM-TAILORED EYEWEAR</h3>


          </div>


          <div class="texto_grand">

              <h2 class="texto_heroe_grand">Glasses that look <br /> good on you, not <br /> just on the shelf

              </h2>

          </div>


          <div class="cuadros">
              <a class="texto_first"> SHOP MEN</a>
              <a class="texto_two">SHOP WOMEN</a>
          </div>

      </div>
  </div>
</section>
